In [10]:
import pandas as pd
year = int(input('연도를 입력하세요 = '))

연도를 입력하세요 = 202

In [8]:
def leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                answer = "윤년"
            else:
                answer = "평년"
        else:
            answer = "윤년"
    else:
        answer = "평년"
    return answer

print("과연? ",leap_year(year))

과연?  윤년

In [24]:
years = []
while True:
    year = int(input('년도는 (0이면 종료) ?'))
    if year == 0:
        break
    result = leap_year(year)
    print("년도 %s는 %s입니다"%(year, result))
    years.append([year, result])
    
years_df2 = pd.DataFrame(years,columns=['년도','윤년여부'])
years_df2

년도는 (0이면 종료) ?2000
년도 2000는 윤년입니다
년도는 (0이면 종료) ?2001
년도 2001는 평년입니다
년도는 (0이면 종료) ?2002
년도 2002는 평년입니다
년도는 (0이면 종료) ?2003
년도 2003는 평년입니다
년도는 (0이면 종료) ?2004
년도 2004는 윤년입니다
년도는 (0이면 종료) ?0

     년도 윤년여부
0  2000   윤년
1  2001   평년
2  2002   평년
3  2003   평년
4  2004   윤년

In [26]:
years = []
while True:
    year = int(input('년도는 (0이면 종료) ?'))
    if year == 0:
        break
    result = leap_year(year)
    print("년도 %s는 %s입니다"%(year, result))
    years.append([year, result])
    
years_df1 = pd.DataFrame(years,columns=['년도','윤년여부'])
years_df1

년도는 (0이면 종료) ?2007
년도 2007는 평년입니다
년도는 (0이면 종료) ?2008
년도 2008는 윤년입니다
년도는 (0이면 종료) ?2009
년도 2009는 평년입니다
년도는 (0이면 종료) ?2010
년도 2010는 평년입니다
년도는 (0이면 종료) ?2011
년도 2011는 평년입니다
년도는 (0이면 종료) ?2012
년도 2012는 윤년입니다
년도는 (0이면 종료) ?0

     년도 윤년여부
0  2007   평년
1  2008   윤년
2  2009   평년
3  2010   평년
4  2011   평년
5  2012   윤년

In [42]:
years_df3 = pd.concat([years_df1,years_df2])

In [45]:
years2 = {}
while True:
    year = int(input('년도는 (0이면 종료) ?'))
    if year == 0:
        break
    result = leap_year(year)
    print("년도 %s는 %s입니다"%(year, result))
    years2[year] = result
    
years2

년도는 (0이면 종료) ?2021
년도 2021는 평년입니다
년도는 (0이면 종료) ?2020
년도 2020는 윤년입니다
년도는 (0이면 종료) ?2019
년도 2019는 평년입니다
년도는 (0이면 종료) ?2018
년도 2018는 평년입니다
년도는 (0이면 종료) ?2017
년도 2017는 평년입니다
년도는 (0이면 종료) ?0

{2021: '평년', 2020: '윤년', 2019: '평년', 2018: '평년', 2017: '평년'}

In [48]:
years3 = {}
common = []
leap = []
while True:
    year = int(input('년도는 (0이면 종료) ?'))
    if year == 0:
        break
    result = leap_year(year)
    print("년도 %s는 %s입니다"%(year, result))
    if result == '평년':
        common.append(year)
    else:
        leap.append(year)
    years3['평년'] = common
    years3['윤년'] = leap

년도는 (0이면 종료) ?2021
년도 2021는 평년입니다
년도는 (0이면 종료) ?20
년도 20는 윤년입니다
년도는 (0이면 종료) ?2014
년도 2014는 평년입니다
년도는 (0이면 종료) ?2012
년도 2012는 윤년입니다
년도는 (0이면 종료) ?2010
년도 2010는 평년입니다
년도는 (0이면 종료) ?2008
년도 2008는 윤년입니다
년도는 (0이면 종료) ?2007
년도 2007는 평년입니다
년도는 (0이면 종료) ?2006
년도 2006는 평년입니다
년도는 (0이면 종료) ?0

In [49]:
years3

{'평년': [2021, 2014, 2010, 2007, 2006], '윤년': [20, 2012, 2008]}

In [46]:
pd.DataFrame(years2, index=[0])

  2021 2020 2019 2018 2017
0   평년   윤년   평년   평년   평년

In [37]:
# years_df3.to_csv('y_df.csv', index=False)
years_df3.to_csv('y_df.csv')

In [41]:
years_df4 = pd.read_csv('y_df.csv').drop('Unnamed: 0',axis=1)
years_df4.columns

Index(['년도', '윤년여부'], dtype='object')