In [5]:
import pandas as pd
import numpy as np

In [6]:
titles = pd.read_csv('C:/Users/학생/Downloads/movies_title.csv',sep=',')
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [7]:
# 4. 전체 영화는 몇개인가? 
total_num = titles['title'].count()
print('전체 영화는 {}개 입니다.'.format(total_num))

전체 영화는 215981개 입니다.

In [8]:
titles.info()
titles.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215981 entries, 0 to 215980
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   215981 non-null  object
 1   year    215981 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

title    0
year     0
dtype: int64

In [9]:
old_movies = []
old_movies.append(titles.sort_values(by='year',ascending=True).iloc[0,0])
old_movies.append(titles.sort_values(by='year',ascending=True).iloc[1,0])
print('가장 빠른 시기에 제작된 영화 두개는 {}와 {}입니다'.format(old_movies[0],old_movies[1]))

가장 빠른 시기에 제작된 영화 두개는 Miss Jerry와 Reproduction of the Corbett and Fitzsimmons Fight입니다

In [47]:
movies_of_Hamlet = len(titles.loc[titles.title == 'Hamlet'])
print('제목이 Hamlet인 영화의 개수는 {}개입니다.'.format(movies_of_Hamlet))

제목이 Hamlet인 영화의 개수는 19개입니다.

In [48]:
movies_of_Treasure_Island = len(titles.loc[titles.title == 'Treasure Island'].sort_values(by='year',ascending=True))
print('제목이 Treasure Island인 영화의 개수는 {}개입니다.'.format(movies_of_Treasure_Island))
titles.loc[titles.title == 'Treasure Island'].sort_values(by='year',ascending=True)

제목이 Treasure Island인 영화의 개수는 8개입니다.

                  title  year
191379  Treasure Island  1918
47769   Treasure Island  1920
192917  Treasure Island  1934
90175   Treasure Island  1950
104714  Treasure Island  1972
103646  Treasure Island  1973
190792  Treasure Island  1985
166675  Treasure Island  1999

In [49]:
movies_num = len(titles.loc[(titles.year<=1959)&(titles.year>=1950)])
print('1950년에서 1959년사이에 만들어진 영화는 {}개입니다.'.format(movies_num))

1950년에서 1959년사이에 만들어진 영화는 12120개입니다.

In [34]:
movies_year = titles.groupby('year').count().sort_values(by = 'title', ascending=False)
for i in range(5):
    print("년도별 영화를 가장 많이 제작한 해 중 {}위는 {}".format(i+1,movies_year.index[i]))

년도별 영화를 가장 많이 제작한 해 중 1위는 2015
년도별 영화를 가장 많이 제작한 해 중 2위는 2014
년도별 영화를 가장 많이 제작한 해 중 3위는 2013
년도별 영화를 가장 많이 제작한 해 중 4위는 2012
년도별 영화를 가장 많이 제작한 해 중 5위는 2011