In [1]:
##  실습) 1~1000에서 각 숫자의 개수 구하기

## ex) 10~15까지 숫자의 개수는 
##  - 10 -> 1,0
##  - 12 -> 1,2

In [19]:
numbers = []
for i in range(1,1001):
    numbers.append(i)

zero = 0
one = 0
two = 0
three = 0
four = 0
five = 0
six = 0
seven = 0
eight = 0
nine = 0

for i in numbers:
    num = list(map(int, str(i)))
    for j in num:
        if j == 1:
            one += 1
        elif j == 2:
            two += 1
        elif j == 3:
            three += 1
        elif j == 4:
            four += 1
        elif j == 5:
            five += 1
        elif j == 6:
            six += 1
        elif j == 7:
            seven += 1
        elif j == 8:
            eight += 1
        elif j == 9:
            nine += 1
        else:
            zero += 1
            
print(" 1의 갯수는 {}, \n 2의 갯수는 {}, \n 3의 갯수는 {}, \n 4의 갯수는 {}, \n 5의 갯수는 {}, \n 6의 갯수는 {}".format(one,two,three,four,five,six))
print(" 7의 갯수는 {}, \n 8의 갯수는 {}, \n 9의 갯수는 {}, \n 0의 갯수는 {}".format(seven,eight,nine,zero))

 1의 갯수는 301,
 2의 갯수는 300,
 3의 갯수는 300,
 4의 갯수는 300,
 5의 갯수는 300,
 6의 갯수는 300
 7의 갯수는 300,
 8의 갯수는 300,
 9의 갯수는 300,
 0의 갯수는 192

In [20]:
num = [0,0,0,0,0,0,0,0,0,0]
for i in range(1,1001):
    for j in str(i):
        num[int(j)] += 1

print("num = ",num)

num =  [192, 301, 300, 300, 300, 300, 300, 300, 300, 300]

In [18]:
sti = "서울시 노원구 은행사거리"
a = list(map(str, sti))
a

['서', '울', '시', ' ', '노', '원', '구', ' ', '은', '행', '사', '거', '리']