In [1]:
import pandas as pd

In [6]:
score_korean = int(input("국어 점수는 = "))
score_english = int(input("영어 점수는 = "))
score_math = int(input("수학 점수는 = "))

print("총 점은 = ", score_english+score_korean+score_math, "평균은 = ",
     (score_english+score_korean+score_math)/2)

국어 점수는 = 80
영어 점수는 = 50
수학 점수는 = 0
총 점은 =  130 평균은 =  65.0

In [10]:
scores = []
scores = input("국어 영어 수학 점수를 쉼표로 구분해서 입력하세요 ")
scores

국어 영어 수학 점수를 쉼표로 구분해서 입력하세요 70,50,80

'70,50,80'

In [37]:
scores = []
scores = input("국어 영어 수학 사회 과학 점수를 쉼표로 구분해서 입력하세요 (0점은 입력하지마) \n")

scores_list = scores.split(',')
scores_sum = 0
for i in range(0,len(scores_list)):
    scores_sum = scores_sum + int(scores_list[i])
    
scores_avg = scores_sum/len(scores_list)

print("총 점은 = {} 평균은 = {}".format(scores_sum,round(scores_avg,2)))

국어 영어 수학 사회 과학 점수를 쉼표로 구분해서 입력하세요 (0점은 입력하지마)
30,80,90,80
총 점은 = 280 평균은 = 70.0

In [38]:
if len(scores_list) < 3:
    print("과목은 3개를 입력하셔야 합니다.")
elif scores_avg >=60:
    print("총점은 {}점, 평균은 {}점, 합격입니다.".format(scores_sum,round(scores_avg,2)))
elif scores_avg < 60:
    print("총점은 {}점, 평균은 {:.2f}점, 불합격입니다.".format(scores_sum,scores_avg))

총점은 280점, 평균은 70.0점, 합격입니다.

In [45]:
sta = 0
for i in range(0,len(scores_list)):
    if int(scores_list[i])<=40:
        print("과목당 점수기준 이하로 과락입니다.")
        sta = sta - 1
    sta = sta + 1
    
if scores_avg <= 60:
    print("평균 점수 {}으로 평균 점수 기준 이하로 불합격입니다.".format(round(scores_avg,2)))
elif sta == len(scores_list) and scores_avg > 60:
    print("평균 점수 {}으로 합격입니다.".format(round(scores_avg,2)))

과목당 점수기준 이하로 과락입니다.